@mixin flekscolumn {
    display: flex;
    flex-direction: column;
    
}
$tamnosiva: rgb(24, 24, 24);
$tamnoplava:#0079CD;
$svetloplava: #2c98f0;
$bojatekst: rgb(80, 90, 99);
$bojatekst2: #708090;


@mixin flekscenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fleksrow{
    display: flex;
    flex-direction: row;
}
@media screen and(max-width:1501px){
    main{
        #reg1{
            #strela{
                display: none;
            }
        }
    }
}
@media screen and(max-width:1200px){
    nav{
        display: none;
    }
    
   main{
    width: 100%;
    #ul3{
        display: block;

    }
    
    #projekti{
        .pr{
            width: 48%;
        }
    }
    }
}
@media screen and(max-width:1025px){
    
    main{
        #reg3{
            flex-wrap: wrap;
            .box{
                width: 48%;
                margin-top: 30px;
                padding: 20px;
                
            }
        }
        #reg4{
            .box2{
                h1{
                    font-size: 20px;
                }
            }
        }
        #reg7{
            #skils{
                .strana{
                    width: 100%;
                }
            }
        }
        #reg1{
            p{
                &:nth-child(1){
                    margin-top: -10%;
                }
            }
        }
        #projekti{
            height: fit-content;
            .pr{
                height: 300px;
                width: 100%;
                margin-bottom: 50px;
            }
        }
        #reg2{
            @include flekscolumn;
            #abaut{
                width: 100%;
                p{
                    text-align: center;
                }
                h1{
                    margin: 10px auto;
                }

                #sve{
                    #presek1{
                        height: 350px;
                    }
                }
            }
            #okvir{
                width: 500px;
                height: 600px;
                margin: 50px auto;
                #abaut2{
                    width: 490px;
                    height: 600px;
                }
            }
            
        }
       
        #reg1{
            i{
                display: none;
            }
        }
        
        
        #reg10{
            .cont{
                .cont2{
                    p{
                        margin-left: 0px;
                        margin-top: 10px
                    }
                    @include flekscolumn;
                    .cont3{
                        margin-bottom: 20px;
                        
                        i{
                            color: $tamnoplava;
                            height: 30px;
                            margin-top: 10px;
                        }
                        
                    }
                    p{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:920px){
    main{
        
        
        #reg4{
            @include flekscolumn;
            .box2{
                margin: 50px auto;
                width: 90%;
                padding: 0px 20px;
                h1{
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and(max-width:769px){
    
    main{
        .naslovi{
            height: 100px;
            h2{
                font-size: 15px;
            }
            h1{
                font-size: 20px;
            }
        }
       
        #reg3{
            .box{
                &:hover{
                    .p2{
                        display: none;
                    }
                }
                width: 100%;
                margin-top: 50px;
                padding-left: 50px;
                p{
                    color: #000;
                }
                
                .p1{
                    display: none;
                }
                
                .opis{
                    display: block;
                    color: $bojatekst;
                }
            }
        }
    }
}
@media screen and(max-width:700px){
    
    main{
        #reg1{
            background-attachment: local;
            background-position: right;
            
        }
        #reg10{
            .cont{
                .cont2{
                    height: 70px;
                    p{
                        margin-left: 20px;
                    }
                    p{
                        margin-top: 15px;
                        font-size: 15px;
                    }
                    .cont3{
                        margin-top: 20px;
                        background-color: $tamnoplava;
                        i{
                            color: #fff;
                            margin-top: -5px;
                        }
                    }
                }
            }
        }
        
        #ul3{
            height: 80px;
            position: static;
            ul{
                
                li{
                    width: 33%;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    &:nth-child(7){
                        width: 100%;
                    }
                }

            }
        }
        #reg10{
            @include flekscolumn;
            .cont{
                margin-bottom: 50px;
                width: 100%;
                .cont2{
                    @include fleksrow;
                    .cont3{
                        margin-bottom: 20px;
                    }
                }
                input{
                    float: left;
                    width: 100%;
                }
                textarea{
                    float: left;
                    margin-bottom: 50px;
                    width: 100%;
                }
                button{
                    margin: 0px auto;
                }
            }
        }
    }
}

@media screen and(max-width:560px){
  
    
    main{
        #reg1{
            .typing{
                
                p{
                    &:nth-child(2){
                        width: 280px;
                        font-size: 35px;
                    }

                    &:nth-child(3){
                        width: 300px;
                        font-size: 31px;
                    }
                }
            }
        }
        #reg2{
            #okvir{
                border: none;
                width: 100%;
                margin: 50px auto;
                #abaut2{
                    width: 100%;
                    left:0px;
                    top: 0px
                }
            }
                
            
            #abaut{
                #sve{
                    @include flekscolumn;
                    #presek1{
                        height: 20px;
                        margin-top: 30px;
                        margin-bottom: 30px;
                        @include flekscolumn;
                        #presek{
                            height: 20px;
                            width: 90%;
                        }
                        #pocetak{
                            display: none;
                        }
                        #kraj{
                            display: none;
                        }
                        
                    }
                    #abaut4{
                        margin: 0px auto;
                        width: 90%;
                        h1{
                            width: 100%;
                        }
                        h2{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    
}

@media screen and(max-width:321px){
   
    main{
        #reg1{
            .typing{
                p{
                    font-size: 20px;
                    &:nth-of-type(1){
                        width: 60px;
                    }
                    &:nth-child(2){
                        width: 150px;
                        font-size: 20px;
                    }

                    &:nth-child(3){
                        width: 200px;
                        font-size: 20px;
                    }
                }
            }
        }
       

        #ul3{
            height: fit-content;
            position: static;
            ul{
                li{
                    width: 100%;
                }
            }
        }
    }

    
}


@media screen and(max-height:530px){
    #slika{
        display: none;
    }
}
@media screen and(max-height:520px){
    main{
        #reg1{
            input{
                display: none;
            }
        }
    }
}

@media screen and(max-height:380px){
    main{
        #reg1{
            .typing{
                display: none;
            }
        }
    }
}