@media screen and (max-width: 1501px) {
  nav {
    display: none;
  }
  main {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  main #reg7 #skils .strana {
    width: 100%;
  }
  main #projekti .pr {
    width: 48%;
  }
}

@media screen and (max-width: 1025px) {
  main {
    width: 100%;
  }
  main #reg1 p:nth-child(1) {
    margin-top: -10%;
  }
  main #projekti {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  main #projekti .pr {
    height: 300px;
    width: 100%;
    margin-bottom: 50px;
  }
  main #reg2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #reg2 #abaut {
    width: 100%;
  }
  main #reg2 #abaut p {
    text-align: center;
  }
  main #reg2 #abaut h1 {
    margin: 10px auto;
  }
  main #reg2 #abaut #sve #presek1 {
    height: 350px;
  }
  main #reg2 #okvir {
    width: 500px;
    height: 600px;
    margin: 50px auto;
  }
  main #reg2 #okvir #abaut2 {
    width: 490px;
    height: 600px;
  }
  main #ul3 {
    display: block;
  }
  main #reg1 i {
    display: none;
  }
  main #reg3 .box {
    width: 23%;
    padding: 10px;
  }
  main #reg10 .cont .cont2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #reg10 .cont .cont2 .cont3 {
    margin-bottom: 20px;
    background-color: #fff;
  }
  main #reg10 .cont .cont2 .cont3 i {
    color: #0079CD;
    height: 30px;
    margin-top: 10px;
  }
  main #reg10 .cont .cont2 p {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 920px) {
  main {
    width: 100%;
  }
  main #reg3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main #reg3 .box {
    width: 48%;
    margin-top: 30px;
    padding: 20px;
  }
  main #reg4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #reg4 .box2 {
    margin: 50px auto;
    width: 90%;
    padding: 0px 50px;
  }
}

@media screen and (max-width: 769px) {
  main #reg3 .box {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 700px) {
  main #reg1 {
    background-attachment: local;
    background-position: right;
  }
  main #reg1 .typing {
    margin-top: 28rem;
  }
  main #reg10 .cont .cont2 .cont3 {
    margin-top: 20px;
    background-color: #0079CD;
  }
  main #reg10 .cont .cont2 .cont3 i {
    color: #fff;
    margin-top: -5px;
  }
  main #ul3 {
    height: 100px;
    position: static;
  }
  main #ul3 ul li {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  main #ul3 ul li:nth-child(7) {
    width: 100%;
  }
  main #reg10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #reg10 .cont {
    margin-bottom: 50px;
    width: 100%;
  }
  main #reg10 .cont .cont2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main #reg10 .cont .cont2 .cont3 {
    margin-bottom: 20px;
  }
  main #reg10 .cont input {
    float: left;
    width: 100%;
  }
  main #reg10 .cont textarea {
    float: left;
    margin-bottom: 50px;
    width: 100%;
  }
  main #reg10 .cont button {
    margin: 0px auto;
  }
}

@media screen and (max-width: 550px) {
  main #reg1 .typing p:nth-child(2) {
    width: 280px;
    font-size: 35px;
  }
  main #reg1 .typing p:nth-child(3) {
    width: 330px;
    font-size: 35px;
  }
  main #reg2 #okvir {
    border: none;
    width: 100%;
    margin: 50px auto;
  }
  main #reg2 #okvir #abaut2 {
    width: 100%;
    left: 0px;
    top: 0px;
  }
  main #reg2 #abaut #sve {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #reg2 #abaut #sve #presek1 {
    height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #reg2 #abaut #sve #presek1 #presek {
    height: 20px;
    width: 90%;
  }
  main #reg2 #abaut #sve #presek1 #pocetak {
    display: none;
  }
  main #reg2 #abaut #sve #presek1 #kraj {
    display: none;
  }
  main #reg2 #abaut #sve #abaut4 {
    margin: 0px auto;
  }
}

@media screen and (max-width: 321px) {
  main {
    width: 100%;
  }
  main #reg3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #reg3 .box {
    width: 80%;
    margin: 0px auto;
    margin-top: 30px;
  }
  main #ul3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: static;
  }
  main #ul3 ul li {
    width: 100%;
  }
}

@media screen and (max-height: 530px) {
  #slika {
    display: none;
  }
}

@media screen and (max-height: 420px) {
  main #reg1 .typing {
    display: none;
  }
  main #reg1 input {
    display: none;
  }
}
/*# sourceMappingURL=res.css.map */