@media screen and (max-width:769px){
    nav{
        display: none;
    }
    main{
        width: 100%;
    }
    #reg1{
        padding-top: 5%;
    }
}


@media screen and (max-width:426px){
   #reg4{
       flex-direction: column;
       width: 90%;
       margin: 0px auto;
   }

   .box2{
       width: 90%;
       margin: 0px auto;
       margin-bottom: 150px;
   }

   .naslovi{
       margin-left: 30px;
       width: 90%;
   }
}

@media screen and (max-width:321px){
 
    .box2{
        height: 400px;
    }
 
 }