@media screen and (max-width:769px){
    nav{
        display: none;
    }
    main{
        width: 100%;
    }
    #reg1{
        padding-top: 5%;
    }
}


@media screen and (max-width:426px){
    .sirina{
        width: 90%;
    }
   #reg4{
       flex-direction: column;
       margin: 0px auto;
   }

   .box2{
       width: 90%;
       margin: 0px auto;
       margin-bottom: 150px;
   }

   .naslovi{
       margin-left: 30px;
       width: 90%;
   }
   #reg1{
    padding-left: 20px;
    padding-top: 150px;
   }
   #sequence{
       font-size: 50px;
       margin: 50px 0px;
   }
   #reg3{
       flex-direction: column;
   }
   .box{
       width: 90%;
       margin: 0px auto;
       margin-bottom: 30px;
   }
   .naslovi{
       margin-left: 0px;
       width: 100%;
   }
   #reg2{
       flex-direction: column;
   }
   #abaut{
       width: 90%;
       margin: 0px auto;
       margin-bottom: 30px;
   }
   #abaut2{
    width: 100%;
    margin: 0px auto;
   }
   #okvir{
    width: 100%;
    margin: 0px auto;
   }
   #oblasti{
       font-size: 35px;
       margin: 40px 10%;
   }
}

@media screen and (max-width:321px){
 
    .box2{
        height: 400px;
    }
    
 
 }