*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


nav{
    width: 22%;
    height: 100vh;
    background-color: rgb(24, 24, 24);
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    border-right: 3px solid #2c98f0;
}

main{
    width: 78%;
    height: 2000px;
    float: right;
    background-color: #f9f9f9;
    
}

#naslov{
    font-size: 25px;
    color: slategray;  
}

nav p{
    font-size: 20px;
    color: slategray;
    margin: 0px auto;
    margin-top: 15px;
}

nav span{
    color: #2c98f0;
    font-weight: 700;
}

#reg1{
    width: 100%;
    height: 100vh;
    background-image: url("images/slika3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 100px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    padding-top: 20%;
}
#reg1>input{
    width: 200px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;
    font-size: 25px;
    cursor: pointer;
    animation-name: anim2;
    position: relative;
    animation-duration: 1.3s;
    margin-bottom: 30px;
}


#sequence{
    height: 100px;
    margin-bottom: 40px;
    animation-name: anim3;
    animation-duration: 4s;
    position: relative;
    color: #fff;
    font-size: 80px;
}


#crno{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: -900px;
}

#slika{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px auto;
    margin-bottom: 50px;
    background-image: url("images/slika1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #5b97c9;
}

nav>h1{
    margin: 0px auto;
    
}

#poz{
    font-size: 80px;
    animation-name: anim1;
    animation-duration: 1.3s;
    position: relative;
    color: #fff;
}

@keyframes anim1 {
    0%   {top:-500px;}
    100% {top:0px;}
  }

@keyframes anim2 {
    0%   {bottom:-500px;}
    100% {bottom:0px;}
  }


@keyframes anim3 {
    0%   {right:-400px;}
    100% {right:0px;}
  }

ul{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 50px;
}

nav ul li{
    list-style-type: none;
    margin: 0px auto;
    margin-bottom: 15px;
}
nav ul li a{
    color: slategray;
    font-size: 18px;
    text-decoration: none;
}


.line{
    width: 0%;
    height: 1px;
    background-color: #2c98f0;
    transition: 0.2s ease-in-out;
    margin: 0px auto;
}

nav ul li a:hover + .line{
    width: 100%;
}

nav ul li a:hover{
    color: #2c98f0;
}

#ul2{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-around;
}
#ul2 li{
    list-style-type: none;
}
#ul2 li a{
    text-decoration: none;
    font-size: 15px;
}

.hexagon {
    position: relative;
    width: 120px; 
    height: 63.21px;
    background-color: #4054b2;
    margin: 86.60px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
  
.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}
  
.hexagon:before {
    bottom: 100%;
    border-bottom: 36.60px solid #4054b2;
}
  
.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 36.60px solid #4054b2;
}

.sirina{
    margin: 0px auto;
    width: 85%;
}

#reg3{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}

.box{
      width: 20%;
      height: 180px;
      background-color: #fff;
      border-bottom: 3px solid #2c98f0;
}

#reg4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
}

.box2{
    width: 30%;
    height: fit-content;
    background-color: #fff;
    border-bottom: 4px solid #4054b2;
}

.hexagon{
    margin-top: -30px;
}

.box2 i{
    font-size: 50px;
    color: #fff;
}

.sadrzaj{
    width: 80%;
    height: 100px;
    margin: 80px auto;
}

.box2 h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.box2 p{
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    color: rgb(46, 46, 46);
}

.naslovi{
    margin: 100px 100px;
    line-height: 1.8;
}

#reg1 i{
    font-size: 100px;
    color: #fff;
    margin-left: 75px;
    position: relative;
    animation-name: animacija5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    color: #2c98f0;
}

@keyframes animacija5 {
    0% {top: 0px;}
    50% {top: 20px;}
    100% {top: 0px;}
}

