*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


nav{
    width: 22%;
    height: 100vh;
    background-color: rgb(24, 24, 24);
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    border-right: 3px solid #2c98f0;
}

main{
    width: 78%;
    height: fit-content;
    float: right;
    background-color: #ebebe5;
    
}

#naslov{
    font-size: 25px;
    color: slategray;  
}

nav p{
    font-size: 20px;
    color: slategray;
    margin: 0px auto;
    margin-top: 15px;
}

nav span{
    color: #2c98f0;
    font-weight: 700;
}

#reg1{
    width: 100%;
    height: 100vh;
    background-image: url("images/slika3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 100px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    padding-top: 15%;
}
#reg1>input{
    width: 200px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #2c98f0;
    color: white;
    font-size: 25px;
    cursor: pointer;
    animation-name: anim2;
    position: relative;
    animation-duration: 6s;
    margin-bottom: 50px;
    color: #2c98f0;
    
}


#sequence{
    height: 100px;
    margin-bottom: 40px;
    animation-name: anim3;
    animation-duration: 4s;
    position: relative;
    color: #fff;
    font-size: 80px;
}


#crno{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: -100vh;
}

#slika{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px auto;
    margin-bottom: 50px;
    background-image: url("images/slika1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #5b97c9;
}

nav>h1{
    margin: 0px auto;
    
}

#poz{
    font-size: 80px;
    animation-name: anim1;
    animation-duration: 1.3s;
    position: relative;
    color: #fff;
}

@keyframes anim1 {
    0%   {top:-500px;}
    100% {top:0px;}
  }

@keyframes anim2 {
    0%   {bottom:-500px;}
    100% {bottom:0px;}
  }


@keyframes anim3 {
    0%   {right:-400px;}
    100% {right:0px;}
  }

ul{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 50px;
}

nav ul li{
    list-style-type: none;
    margin: 0px auto;
    margin-bottom: 12%;
}
nav ul li a{
    color: slategray;
    font-size: 18px;
    text-decoration: none;
}


.line{
    width: 0%;
    height: 1px;
    background-color: #2c98f0;
    transition: 0.2s ease-in-out;
    margin: 0px auto;
}

nav ul li a:hover + .line{
    width: 100%;
}

nav ul li a:hover{
    color: #2c98f0;
}

#ul2{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-around;
}
#ul2 li{
    list-style-type: none;
}
#ul2 li a{
    text-decoration: none;
    font-size: 15px;
}

.hexagon {
    position: relative;
    width: 120px; 
    height: 63.21px;
    background-color: #0079CD;
    margin: 86.60px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
  
.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}
  
.hexagon:before {
    bottom: 100%;
    border-bottom: 36.60px solid #0079CD;
}
  
.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 36.60px solid #0079CD;
}

.sirina{
    margin: 0px auto;
    width: 85%;
}

#reg3{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}

.box{
      width: 22%;
      height: fit-content;
      background-color: #fff;
      border-bottom: 3px solid #009EDF;
      transition: 0.5s;
      
}

.box:hover{
    transform: scale(1.0);
}

#reg4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 150px;
}

.box2{
    width: 30%;
    height: fit-content;
    background-color: #fff;
    border-bottom: 4px solid #0079CD;
}

.hexagon{
    margin-top: -30px;
}

.box2 img{
    width: 80px;
    height: 80px;
    color: #fff;
}

.sadrzaj{
    width: 80%;
    height: 100px;
    margin: 80px auto;
}

.box2 h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.box2 p{
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    color: rgb(46, 46, 46);
}

.naslovi{
    margin: 70px 0px;
    line-height: 1.8;
    width: 100%;
    padding-left: 7%;
    height: 150px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    color: #000;
    letter-spacing: 3px;
    background-color: #cecece;
}


.naslovi h2{
    color: #0079CD;
    font-size: 15px;
    letter-spacing: 5px;
}

#reg1 i{
    font-size: 100px;
    color: #fff;
    margin-left: 75px;
    position: relative;
    animation-name: animacija5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    color: #2c98f0;
}

@keyframes animacija5 {
    0% {top: 0px;}
    50% {top: 20px;}
    100% {top: 0px;}
}

#reg2{
    margin: 100px auto 0px auto;
    display: flex;
    flex-direction: row;
  
}
#abaut h1{
    border-bottom: 3px solid #2c98f0;
    width: fit-content;
    margin-bottom: 30px;
}
#abaut p{
    line-height: 2;
    font-size: 20px;
}

#abaut{
    width: 50%;
}

#abaut2{
    width: 90%;
    margin: 0px auto;
    height: 400px;
    background-color: khaki;
    background-image: url("images/slika1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#okvir{
    width: 50%;
}

#abaut2:hover{
    border: 3px solid #2c98f0;
}
.box{
    padding: 30px 10px 10px 30px;
}

.box i{
    color: #009EDF;
    font-size: 60px;
    margin-bottom: 10%;
  
    position: relative;
}
.box:hover i{
    animation: mymove 3s infinite;
}
    


@keyframes mymove {
    50% {transform: rotate(180deg);}
  }

.box p{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: none;
}

#oblasti{
    margin-bottom: 50px;
    border-bottom: 3px solid #2c98f0;
}

#oblasti{
    font-size: 35px;

}
#nas1{
    margin-left: 7.5%;
    border-bottom: 3px solid #009EDF;
    width: fit-content;
    margin-bottom: 30px;
}



.expandable {
    background: #fff;
    overflow: hidden;
    color: #000;   
    line-height: 30px;
    margin-bottom: 5px;
    transition: all 1s ease-in-out;
    height: 0;
    padding: 0px 4%;
    font-size: 20px;
}
   
.expandable:target {
    height: fit-content;
}
.plavo{
    background-color: #0079CD;
    height: fit-content;
    padding: 20px 4%;
    margin-bottom: 5px;
}

.plavo a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 900;
}
#reg5{
    margin-bottom: 500px;
}

.box3{
    background-color: black;
    display: none;
    width: 100px;
}

.box:hover .opis{
    display: block;
}

.opis{
    height: fit-content;
    display: none;
    margin: 0px auto;
}
.gore .nasl,.nasl1{
    color: #606366;
    margin-bottom: 10px;
}
.box:hover .nasl{
    display: none;
}
.nasl1{
    display: none;
}
.box:hover .nasl1{
    display: block;
}




.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
  .progressbar {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
   
   
    transform: translate(50%, 20%);
    overflow: hidden;
  }
  
  .half-circle,
  .half-circle-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform-origin: right center;
  }
  
  .half-circle:nth-child(1) {
    background-color: #b60000;
  }
  
  .half-circle:nth-child(2) {
    background-color: #b60000;
  }
  
  .half-circle-top {
    background-color: #fff;
  }
  
  .progressbar:hover .half-circle:nth-child(1) {
    transform: rotate(180deg); 
    transition: transform 0.1s linear; 
  }
  
  .progressbar:hover .half-circle:nth-child(2) {
    transform: rotate(270deg); 
    transition: transform 0.2s linear; 
  }
  
  .progressbar:hover .half-circle-top {
    opacity: 0; 
    transition: opacity 0s 0.1s; 
  }
  
  .progressbar-circle {
    width: 190px;
    height: 190px;
    background-color: rgb(33, 31, 129);
    border-radius: 50%;
    color: #fff;
    font-size: 4rem;
    z-index: 10;
  }



  .css-typing p {
    border-right: .15em solid #2c98f0;
    font-family: "Courier";
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    font-weight: bolder;
    font-family: 'Miriam Libre', sans-serif;
  }
  .css-typing p:nth-child(1) {
    width: 180px;
    -webkit-animation: type 1s steps(7, end);
    animation: type 1s steps(7, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 420px;
    opacity: 0;
    -webkit-animation: type2 2s steps(20, end);
    animation: type2 2s steps(20, end);
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin: 20px 0px;
  }
  
  .css-typing p:nth-child(3) {
    width: 480px;
    opacity: 0;
    -webkit-animation: type3 2s steps(25, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(25, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin-bottom: 60px;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid #2c98f0;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid #2c98f0;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid #2c98f0;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid #2c98f0;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }


#reg6{
    background-color: blue;
    width: 100%;
    height: 300px;
    z-index: 100;
}